/**
 * OVERVIEW
 *
 * This project is separated to the following style sheets:
 *
 * normalize.min.css....CSS reset.
 * base.css.............Global rules and helpers.
 * components.css.......Layouts and own CSS for the components that build up the page.
 */


/**
 * CONTENTS
 *
 * SETTINGS
 * Box-sizing...........Better default `box-sizing`.
 * Margins..............Top and bottom margins global values.
 *
 * BASE STYLES
 *
 */

/* === SETTINGS === */

/* === Box-sizing === */

* { box-sizing: border-box;
}



/* === Margins === */

h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dd,
p,figure,
pre,table,fieldset,hr,
img {
    margin-bottom: 1rem;
}



/* === BASE STYLES === */

body {
    font-family: "Futura", "Jost", sans-serif;
    margin:      0;
    position:    absolute;
    width:       100%;
  }

p {
    font-family:  "Playfair Display", serif;
    font-style:   italic;
    line-height:  1.8rem;
    font-size:    1rem;
    word-spacing: 0.2rem;
    font-weight:  600;
  }

h1, h2 {
    font-weight:    700;
  }

h1 {
    font-size: 2rem;
    margin:    0;
  }

h2 {
    font-size:   5rem;
    line-height: 7rem;
    margin:      1rem;
  }

h3 {
    margin: 0px 0 20px 0;
  }

a {
    display:         inline-block;
    text-decoration: none;
    font-weight:     500;
    letter-spacing:  0.05rem;
    margin:          40px 20px;
    color:           #000000;
  }

