#profile-pic {
    width: 15em;
}

.profile-div {
    border: 2px solid black;
    padding: 1em;
    width: 25em;
    text-align: center;
}

.hidden-span {
    display: none;
}

.icons {
    padding: 1em;
    margin-left: 20em;
    height: 3em;
}

.intro-div {
    padding: 1em;
    text-align: center;
}