#profile-pic {
    width: 15em;
}

.profile-div {
    border: 2px solid black;
    padding: 1em;
    width: 19em;
    text-align: center;
}

.hidden-span {
    display: none;
}

.icons {
    padding: 1em;
}

.intro-div {
    padding: 1em;
    text-align: center;
    
}